version: '3'
services:
  redmine:
    build: ./redmine
    restart: always
    ports: 
    - 3000:3000
    depends_on:
    - postgresql
    environment:
      TZ: ${TZ}
      REDMINE_DB_POSTGRES: postgresql
      REDMINE_DB_DATABASE: redmine
      REDMINE_DB_USERNAME: redmine
      REDMINE_DB_PASSWORD: dbumauma
      REDMINE_DB_ENCODING: utf8
    volumes:
      - ./volumes/redmine/files:/usr/src/redmine/files
      - ./volumes/redmine/plugins:/usr/src/redmine/plugins

  postgresql:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_ROOT_PASSWORD: postgres
      TZ: ${TZ}
      POSTGRES_DB: redmine
      POSTGRES_USER: redmine
      POSTGRES_PASSWORD: dbumauma
    volumes:
      - ./volumes/postgresql:/var/lib/postgresql/data