version: '3'
services:
  nginx:
    image: nginx
    restart: always
    depends_on:
    - redmine
    environment:
      TZ: ${TZ}
    volumes:
      - ./volumes/nginx/default.conf:/etc/nginx/conf.d/default.conf
    hostname: nginx
    ports:
      - "80:80"

  redmine:
    build: ./redmine
    restart: always
    depends_on:
    - postgresql
    environment:
      TZ: ${TZ}
      REDMINE_DB_POSTGRES: db
      REDMINE_DB_USERNAME: redmine
      REDMINE_DB_PASSWORD: dbumauma
      REDMINE_DB_ENCODING: utf8
      REDMINE_DB_PORT: 5432

  postgresql:
    container_name: db
    image: postgres
    restart: always
    environment:
      TZ: ${TZ}
      POSTGRES_DB: redmine_production
      POSTGRES_USER: redmine
      POSTGRES_PASSWORD: dbumauma
    volumes:
      - ./volumes/postgresql:/var/lib/postgresql/data