version: '2'
services:
  nginx:
    image: nginx
    restart: always
    environment:
      TZ: ${TZ}
    build: ./nginx
    volumes:
      - ./volumes/nginx/default.conf:/etc/nginx/conf.d/default.conf
    hostname: nginx
    ports:
      - "80:80"

  redmine:
    build: ./redmine
    restart: always
    environment:
      TZ: ${TZ}
      REDMINE_DB_POSTGRES: db
      REDMINE_DB_USERNAME: redmine
      REDMINE_DB_PASSWORD: dbumauma
      REDMINE_DB_ENCODING: utf8
      REDMINE_DB_PORT: 5432

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: dbumauma


  postgresql:
    image: sameersbn/postgresql:9.6-4
    environment:
    - DB_USER=redmine
    - DB_PASS=password
    - DB_NAME=redmine_production
    volumes:
    - ./volumes/postgresql:/var/lib/postgresql

      image    build:
      context: .
      dockerfile: ./redmine/Dockerfile
    # image: sameersbn/redmine:4.0.3-2

    depends_on:
    - postgresql
    environment:
    - TZ=Asia/Tokyo

    - DB_ADAPTER=postgresql
    - DB_HOST=postgresql
    - DB_PORT=5432
    - DB_USER=redmine
    - DB_PASS=password
    - DB_NAME=redmine_production

    - REDMINE_PORT=443
    - REDMINE_HTTPS=true
    - REDMINE_RELATIVE_URL_ROOT=
    - REDMINE_SECRET_TOKEN=
    - NGINX_HSTS_MAXAGE=2592000

    - REDMINE_SUDO_MODE_ENABLED=false
    - REDMINE_SUDO_MODE_TIMEOUT=15

    - REDMINE_CONCURRENT_UPLOADS=2

    - REDMINE_BACKUP_SCHEDULE=
    - REDMINE_BACKUP_EXPIRY=
    - REDMINE_BACKUP_TIME=

    ports:
    - 443:443
    - 80:80
    volumes:
    - ./volumes/redmine/certs:/home/redmine/data/certs